.debug {
    border: solid;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

#background {
    width: 80vw;
    height: 170vh;
    margin-left: 10vw;
}

#background_time {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}

#background_plan {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}

#background_start {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}

#background_history {
    width: 80vw;
    height: 160vh;
    margin-left: 10vw;
}

#background_about {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}

#base {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    border-left: solid;
    border-right: solid;
}

#title {
    margin-top: 10vh;
    text-align: center;
    border-bottom: solid rgb(240,240,240);
}